.menu {
  padding: 15rem 0rem 2rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Noto sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: grey;
  text-transform: uppercase;
}
