.filter {
  display: flex;
  width: 30rem;
  flex-direction: column;
  background-color: #f1f1ed;

  &__dropdown {
    width: 30rem;
    position: absolute;
    top: 28.4rem;
    z-index: 1000;
    background-color: #f1f1ed;
  }
  &__box {
    width: 70%;
    margin: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 30%;
    -moz-column-width: 30%;
    column-width: 30%;
    font-size: 0.6rem;
    font-weight: 200;
    column-gap: 1.5rem;
  }

  &__underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 0.3rem;
    background-color: #487044;
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
  }

  &__bar {
    height: 0.5rem;
    width: 0.1rem;
    background-color: #487044;
  }
  &__navbox {
    &:hover {
      background-color: white;
    }
  }

  main {
    display: flex;
    justify-content: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
  }
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }

  ul {
    display: flex;
    width: 100%;
  }

  li {
    width: 100%;
    padding: 0.5rem 1rem;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
  }

  &__option {
    font-size: 0.9rem;
    padding: 0.5rem;

    & label {
      padding-left: 0.3rem;
    }
  }
}
