.menu {
  margin: 5rem 0rem 5rem 0rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 200;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__options {
    display: flex;
    align-items: center;
  }
  &__line {
    height: 0.05rem;
    width: 90%;
    background-color: #d8d8d8;
  }
}
