.navbar__item:hover .navbar__hoverline {
  width: 100%;
}

.navbar {
  width: 100%;

  &__list {
    height: 100%;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    text-decoration-line: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  &__hoverline {
    width: 0;
    height: 0.05rem;
    transition: width 0.3s ease 0s;
    position: relative;
    top: -0.05rem;

    &:hover::after {
      width: 100%;
    }
  }
  &__activelink {
    border-bottom: 0.05rem solid;
  }

  &__logo {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    font-weight: 700;
    transform: rotate(-5deg);
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    font-style: italic;
    line-height: 1;
  }

  &__smallscreen {
    display: none;
  }
  &__button {
    display: none;
  }
}

@media screen and(max-width: 500px) {
  .navbar {
    margin: 0;
    padding: 0;
    &__list {
      position: absolute;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
    }
    &__item {
      // margin: 1rem 0rem;
    }
    &__link {
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }
    &__logo {
      display: none;
    }
    &__smallscreen {
      display: block;
      position: absolute;
      top: 0;
      margin: 1rem auto;
      left: 0;
      right: 0;
      text-align: center;
      color: white;
      font-size: 2rem;
      font-weight: 400;
      z-index: 1;
    }
    &__button {
      z-index: 10000;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(36, 36, 36);
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem;
    }
  }
}
