.articles {
  padding: 15rem 1rem 1rem 1rem;
  &__header {
    font-size: 4rem;
    font-family: "Comfortaa", cursive;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }

  &__subheader {
    font-size: 2rem;
    font-family: "Comfortaa", cursive;
    text-transform: uppercase;
  }
  &__post {
    color: blue;
  }
}
