.contact {
  width: 100%;
  color: #26262d;
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }

  &__form {
    background-color: white;
    box-sizing: border-box;
    padding: 10rem 7rem 5rem 7rem;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    width: 50%;
    & h1 {
      font-size: 5rem;
      font-family: "glossyDisplay";
      padding-top: 5rem;
      font-weight: 200;
    }
    @media only screen and (max-width: 1200px) {
      padding-left: 3rem;
      padding-right: 3rem;
      & h1 {
        padding-top: 8rem;
        font-size: 4rem;
      }
    }

    @media only screen and (max-width: 800px) {
      padding: 5rem 0;
      width: 80%;
      margin: 0 auto;
    }
    // @media only screen and (max-width: 800px) {

    // }
  }
  &__overlaygrid {
    grid-area: 1/1;
    display: grid;
    place-items: center;
    position: relative;
    font-size: 4rem;
    font-weight: 200;
  }
  &__imagewrapper {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  &__image {
    grid-area: 1/1;
  }
}
