.contact {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &__leftWrapper {
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  &__rightWrapper {
    box-sizing: border-box;
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }
  &__header {
    margin-top: 10rem;
    font-size: clamp(1.5rem, 1.3867rem + 2.718vw, 2rem);
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    text-decoration: underline;

    display: flex;
    flex-direction: column;
    // color: black;
    color: black;
    transform: rotate(-2.5deg);
  }
}
