.gallery {
  background-color: white;
  padding-top: 10rem;
  color: #26262d;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;

  &__wrapper {
    width: 80%;
    padding-top: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
  }
  &__return {
    padding-left: 5rem;
    font-size: 0.8rem;
    color: #26262d;
  }
  &__header {
    font-size: 2.875rem;
    margin-top: 2.8rem;
    padding: 1.5rem 0rem;
  }
  &__subheader {
    font-size: 0.9rem;
    color: #26262d;
    text-align: center;
    padding: 1.3rem 0rem 5rem 0rem;
  }
  &__arrow {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.15rem solid #26262d;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
    border-radius: 0.1rem;
  }

  &__arrow {
    margin-left: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-right: 0;
    border-top: 0;
    border-radius: 0.1rem;
  }
  &__link {
    text-decoration: none;
    color: #26262d;
  }
  &__linkwrapper {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    font-weight: 400;
    align-items: center;
    width: 20rem;
  }
}

.singleartwork {
  color: #26262d;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding-top: 3rem;

  &__mainwrapper {
    padding: 6rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__wrapper {
    width: 60%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
      padding: 0rem 0.5rem;
    }
  }
  &__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: 1000px) {
      width: 100%;
      align-items: center;
      padding: 3rem 0rem;
    }
  }
  & h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-family: "Poppins", sans-serif;
  }
  & a {
    margin-bottom: 1rem;
  }

  & h2 {
    font-size: 1rem;
    color: #26262d;
    font-weight: 200;
  }
}
