.gallery {
  padding-top: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}
