.home {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__landingpageWrapper {
    display: flex;
    width: 100%;
    @media only screen and (max-width: 1000px) {
      display: grid;
    }
  }

  &__imagewrapper {
    display: grid;
    width: 50%;
    height: 100vh;
    @media only screen and (max-width: 1000px) {
      width: 100%;
      grid-area: 1/1;
      z-index: 100;
    }
  }
  &__leftwrapper {
    padding-top: 3rem;
    background-color: white;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media only screen and (max-width: 1000px) {
      grid-area: 1/1;
      width: 100%;
      z-index: 200;
      background-color: transparent;
    }
  }

  &__overlaygrid {
    grid-area: 1/1;
    display: grid;
    place-items: center;
    position: relative;
    font-size: 4rem;
    font-weight: 200;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      background-color: white;
      opacity: 0.7;
    }
  }

  &__image {
    grid-area: 1/1;
  }

  &__header {
    font-family: "glossyDisplay";
    text-transform: uppercase;
    font-weight: 200;
    line-height: 0.9;
    font-size: 7rem;
    margin: auto;
    @media only screen and (max-width: 1400px) {
      font-size: 6rem;
    }
    @media only screen and (max-width: 1200px) {
      font-size: 5rem;
    }
    @media only screen and (max-width: 1000px) {
      font-size: 7rem;
    }
    @media only screen and (max-width: 800px) {
      font-size: 5rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }

  &__subheader {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    margin-left: 1rem;
    margin-right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-left: 0;
    border-top: 0;
    border-radius: 0.1rem;
  }
  &__link {
    text-decoration: none;
    font-weight: 200;
    color: #26262d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
