.card {
  width: 100%;
  padding-bottom: 2rem;
  &__dropshadow {
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 18%);
    -webkit-box-shadow: 0 0 4px 0px rgb(0 0 0 / 18%);
  }

  &__image {
    width: 100%;
  }
  &__imagewrapper {
    width: 100%;
    overflow: hidden;
  }
}
