.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #fe390f;
  opacity: 0.2;
  z-index: 2;
  width: 100%;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
  }
}
