.modal {
  width: 100%;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fcfbfa;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    list-style-type: none;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: 800px) {
      align-items: center;
    }
  }
}
