.dropdown {
  &__wrapper {
    letter-spacing: 0.1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 0rem 2.5rem 1.5rem 2.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__underline {
    width: 100%;
    height: 0.2rem;

    border-radius: 8px;
    position: relative;
    top: 0;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
  }

  &__bar {
    height: 0.5rem;
    width: 0.1rem;
    background: black;
    border-radius: 2px;
  }

  &__options {
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    z-index: 5000;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    border-style: none;
    height: auto;
    width: 50%;
  }
  &__checkboxcontainer {
    display: flex;
    align-items: center;
    padding: 1em 2em 1em 2em;

    &:hover {
      color: black;
    }
  }
  & label {
    cursor: pointer;
    align-items: center;
    display: flex;

    &::before {
      content: "";
      width: 1em;
      height: 1em;
      border: 0.05em solid grey;
      margin-right: 1em;
    }
    &:hover::before {
      background-color: rgb(199, 199, 199);
    }
  }
  & input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    &:hover + label::before {
      background-color: rgb(226, 224, 224);
    }
    &:checked + label::before {
      background-color: black;
      content: "\002714";
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    &:focus + label::before {
      box-shadow: 0 0 5px rgb(202, 199, 199);
    }
  }
}

.dropdown__wrapper:hover .dropdown__arrow {
  background-color: rgb(243, 243, 243);
}
