.form {
  margin-top: 2rem;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;

  &__inputwrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
  }
  & input {
    background-color: transparent;
    border-style: none;
    border-bottom: 0.05rem solid black;
    padding: 1rem 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    color: black;

    &:focus {
      outline: none !important;
      border-bottom: 0.05rem solid black;
      background-color: rgb(0, 0, 0, 0.1);
    }
  }
  & label {
    font-size: clamp(2rem, 0.7956rem + 0.906vw, 2.5rem);
    padding: 0.5rem 0rem;
    font-weight: 700;
    font-size: 0.9rem;
    color: black;
    font-style: italic;
  }
  &__textarea {
    border-style: none;
    border-bottom: 0.05rem solid black;
    height: 10rem;
    padding: 1rem 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    background-color: transparent;
    &:focus {
      outline: none !important;
      border-bottom: 0.05rem solid black;
      background-color: rgb(0, 0, 0, 0.1);
    }
  }
  &__button {
    color: rgb(156, 156, 156);
    background-color: rgb(219, 219, 219);
    width: 100%;
    padding: 0;
    margin-top: 4rem;
    line-height: 0.9;
    font-size: 6rem;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    border-style: none;
  }
}
