.form {
  margin-top: 2rem;
  width: 100%;
  font-family: "Poppins", sans-serif;

  &__input {
    padding-top: 4rem;
  }
  &__error {
    color: red;
    position: absolute;
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }

  & input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    background-color: transparent;
    border-style: none;
    border-bottom: 0.05rem solid #26262d;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #26262d;
    margin: 0.5rem 0rem;
    &:focus {
      outline: none !important;
      border-bottom: 0.05rem solid #26262d;
      background-color: rgb(0, 0, 0, 0.1);
    }
  }
  & label {
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
    font-weight: 400;
    color: #26262d;
  }
  & textarea {
    display: block;
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-style: none;
    border-bottom: 0.05rem solid #26262d;
    height: 10rem;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    margin: 0.5rem 0rem;

    &:focus {
      outline: none !important;
      border-bottom: 0.05rem solid #26262d;
      background-color: rgb(0, 0, 0, 0.1);
    }
  }
  &__input__invalid {
    padding-top: 4rem;

    & input,
    & textarea {
      background-color: rgb(255, 0, 0, 0.1);
      border-bottom: 0.05rem solid red;
      &:focus {
        outline: none !important;
        border-bottom: 0.05rem solid orange;
        background-color: rgba(255, 166, 0, 0.1);
      }
    }
  }

  &__button {
    font-family: "Poppins", sans-serif;
    margin-top: 4rem;
    width: 100%;
    padding: 2rem 0rem;
    border-width: 0.5px;
    line-height: 0.9;
    border-style: solid;
    background-color: white;
    border-radius: 0.3rem;
    color: #26262d;
    border-color: #26262d;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-weight: 400;
    &:disabled,
    &:disabled:hover,
    &:disabled:active {
      background-color: transparent;
      color: grey;
      border-color: grey;
    }
  }
}
