// .form {
//   display: flex;
//   flex-direction: column;

//   &__message {
//     padding: 17px;
//     &--error {
//       color: red;
//       font-size: 10px;
//       padding: 10.5px 0;
//       margin: 0;
//     }
//   }

//   &__input {
//     margin: 3.5rem 0rem 0.3rem 0rem;
//     border: none;
//     border-bottom: solid 2px black;
//     padding: 0.1rem 0rem;
//     height: 1.5rem;
//     background-color: transparent;
//     width: 100%;
//     font-size: 14px;

//     &::placeholder {
//       color: black;
//       font-size: 14px;
//     }
//     &:focus {
//       outline: none;
//       border-bottom: solid 2px blue;
//     }

//     &--invalid {
//       border-bottom: 0.1rem solid red;
//     }
//   }
//   &__button {
//     background-color: black;
//     color: white;
//     width: 101%;
//     height: 58px;
//     font-weight: 100;
//     font-size: 16px;
//     border-radius: 8px;
//     cursor: pointer;
//     margin-top: 3rem;
//     &:disabled {
//       // color: white;
//     }
//   }
// }

:root {
  --fs-800: clamp(0.5rem, 1vw + 0.5rem, 1.2rem);
}
.form {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;

  &__message {
    padding: 17px;

    &--error {
      color: red;
      padding: 10.5px 0;
      margin: 0;
    }
  }

  &__input {
    margin: 3.5rem 0rem 0.5rem 0rem;
    border: none;
    border-bottom: solid 2px #53624e;
    padding: 1rem 0rem;
    height: 1.5rem;
    background-color: transparent;
    width: 100%;
    font-size: var(--fs-800);

    &::placeholder {
      color: #53624e;
    }
    &:focus {
      outline: none;
      border-bottom: solid 2px blue;
    }

    &--invalid {
      border-bottom: 0.1rem solid red;
    }
  }
  &__button {
    margin: 3rem auto;
    background-color: #53624e;
    color: transparent;
    width: 20vw;
    height: 58px;
    font-size: var(--fs-800);
    cursor: pointer;
    &:disabled {
      color: grey;
    }
  }
}
