.navbar {
  z-index: 100000;
  background-color: transparent;
  font-weight: 700;
  width: 100%;
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    justify-content: flex-end;
  }

  &__logo {
    padding: 0rem 0.5rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    :first-child {
      padding-right: 0.3rem;
      @media only screen and (max-width: 1000px) {
        padding: 0;
      }
    }
    :last-child {
      padding-right: 0.3rem;
      @media only screen and (max-width: 1000px) {
        padding: 0;
      }
    }
    @media only screen and (max-width: 1000px) {
      color: #ffffff;
    }
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      line-height: 0.9;
      padding-right: 1rem;
    }
  }
  // &__logoOpen {
  //   color: #ffffff;
  // }

  &__button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
  &__bar {
    width: 2.3rem;
    height: 0.3rem;
    background-color: black;
    margin: 0.15rem;
    @media only screen and (max-width: 1000px) {
      background-color: #ffffff;
    }
  }
  &__barOpen {
    background-color: #ffffff;
  }
}
