.navbar {
  font-family: "nunito", sans-serif;
  width: 100%;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  margin: 0rem;
  padding: 2rem;
  z-index: 10000;
  &__logo {
    z-index: 10000;
    color: black;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px)
      skew(15deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  }
  &__button {
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    &:hover {
      background-color: rgba(179, 179, 179, 0.3);
      -webkit-transition: background-color 200ms ease-in-out;
      -ms-transition: background-color 200ms ease-in-out;
      transition: background-color 200ms ease-in-out;
    }
  }
  &__bar {
    z-index: 10000;
    width: 2.5rem;
    height: 0.2rem;
    background: black;
    margin: 0.2rem;
  }
}
