.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding-top: 2rem;
  position: fixed;
  z-index: 1000;
  &__name {
    font-family: dahlia;
    text-align: center;
    font-size: 2rem;
    padding: 0rem 2rem;
    color: black;
    z-index: 1000;
    background-color: transparent;
    &--open {
      background-color: transparent;

      font-family: dahlia;
      text-align: center;
      font-size: 2rem;
      padding: 0rem 2rem;
      color: black;
      z-index: 1000;
    }
  }
  &__iconWrapper {
    padding: 0rem 2rem;
    background: transparent;
    z-index: 1000;
    cursor: pointer;
  }

  &--open {
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }
  &--closed {
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    // background: #7c978f;
  }

  &__hamburger {
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }

  &__upperbar,
  &__lowerbar {
    width: 2rem;
    height: 0.2rem;
    background: black;
    margin: 0.3rem;
  }
}
