.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  position: fixed;
  z-index: 1000;
  font-family: "Comfortaa", cursive;
  font-weight: 600;

  &__name {
    padding: 2rem 1.7rem;
    z-index: 1000;
    &--open {
      padding: 2rem 1.7rem;
      z-index: 1000;
    }
  }
  &__iconWrapper {
    font-size: 1.2rem;
    background: transparent;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2rem 5.3rem 0rem 0rem;
  }

  &--open {
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }
  &--closed {
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }

  &__hamburger {
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    padding-right: 1rem;
  }

  &__upperbar,
  &__lowerbar {
    width: 1.8rem;
    height: 0.1rem;
    background: black;
    margin: 0.3rem;
  }
}
