.gallery {
  font-family: "Roboto Condensed", sans-serif;
  width: 85%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery > .gallery__item {
  flex: 1 1 30%;
  height: 100px;
}
