.gallery {
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  // -webkit-column-width: 30%;
  // -moz-column-width: 30%;
  // column-width: 30%;

  // column-gap: 2rem;

  @media only screen and (max-width: 1200px) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  @media only screen and (max-width: 800px) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  &__error {
    font-size: 2rem;
    padding: 50rem 0rem;
    text-align: center;
  }
}
