.footer {
  width: 100%;
  color: white;
  font-family: "Noto sans";
  padding-top: 5rem;
  background-color: #201d1d;
  &__wrapper {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: #1f1f1f;k
    // color: #fbf7f2;
  }

  &__logowrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__linewrapper {
    width: 25%;
  }
  &__logo {
    display: flex;
    width: 20%;
    justify-content: center;
  }

  &__linkswrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem 0rem;
  }
  &__linksgroups {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    width: 30%;
    padding: 2rem 0rem;
  }
  &__icons {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
  }
  &__icon {
    width: 7%;
  }
  &__home,
  &__about,
  &__works,
  &__contact {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  &__verticalline {
    height: 5rem;
    width: 25%;
    display: flex;
    justify-content: center;
  }
  &__bottom {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}
